@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DataTable;
@using System.Data;
<main class="main" id="main">
    <div class="row">
        <div class="col-lg-12 ">
            <a asp-controller="Bills" asp-action="AddBill">
                <button class="btn btn-primary mb-3 float-end">Add</button>

            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            @if (@TempData["Error"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show " role="alert">
                    <h5 class="text-danger">@TempData["Error"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="close"></button>

                </div>

            }

            <h5 class="card-title">Bill Table</h5>

            <!-- Default Table -->

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">BillId</th>
                        <th scope="col">BillNumber</th>
                        <th scope="col">BillDate</th>
                        <th scope="col">Order ID</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Net Amount</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Actions</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow bill in Model.Rows)
                    {
                        <tr>
                            <th scope="row">@bill["BillId"]</th>

                            <td>@bill["BillNumber"]</td>
                            <td>@bill["BillDate"]</td>
                            <td>@bill["OrderId"]</td>
                            <td>@bill["TotalAmount"]</td>
                            <td>@bill["Discount"]</td>
                            <td>@bill["NetAmount"]</td>
                            <td>@bill["UserName"]</td>

                            <td class="row">

                                <div class="col-4">
                                    <button class="btn btn-warning me-3"><i class="bi bi-pencil-square"></i></button>
                                </div>
                                <div class="col-8">
                                    <form asp-controller="Bills" asp-action="DeleteBill" method="post">
                                        <input type="hidden" name="userId" value="@Convert.ToInt32(bill["UserId"])">
                                        <button type="submit" class="btn btn-danger" onclick="fun1()"><i class="bi bi-trash"></i></button>
                                    </form>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- End Default Table Example -->
        </div>
    </div>
</main>

@section Scripts {
    <script>
        function fun1() {
            
            if (confirm("Are you sure ??")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}