@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DataTable;
@using System.Data;
<main class="main" id="main">
    <div class="row">
        <div class="col-lg-12 ">
            <a asp-controller="OrderDetails" asp-action="AddDetails">
                <button class="btn btn-primary mb-3 float-end">Add</button>

            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            @if (@TempData["Error"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show " role="alert">
                    <h5 class="text-danger">@TempData["Error"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="close"></button>

                </div>

            }
            <h5 class="card-title">OrderDetails Table</h5>

            <!-- Default Table -->

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">OrderDetailId</th>
                        <th scope="col">OrderId</th>
                        <th scope="col">ProductID</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Total Amount</th>
                        
                        <th scope="col">UserName</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow detail in Model.Rows)
                    {
                        <tr>
                            <th scope="row">@detail["OrderDetailId"]</th>
                            <td>@detail["OrderId"]</td>
                            <td>@detail["ProductId"]</td>
                            <td>@detail["Quantity"]</td>
                            <td>@detail["Amount"]</td>
                            <td>@detail["TotalAmount"]</td>
                            <td>@detail["userName"]</td>
                            <td class="row">
                                <div class="col-4">
                                    <button class="btn btn-warning me-3"><i class="bi bi-pencil-square"></i></button>

                                </div>
                                <div class="col-8">
                                    <form asp-controller="OrderDetails" asp-action="DeleteDetails" method="post">
                                        <input type="hidden" name="userId" value="@Convert.ToInt32(detail["userId"])" />
                                        <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                                    </form>
                                </div>
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- End Default Table Example -->
        </div>
    </div>
</main>