@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DataTable;
@using System.Data;


<main class="main" id="main">
    <div class="row">
        <div class="col-lg-12 ">
            <a asp-controller="Order" asp-action="AddOrder">
                <button class="btn btn-primary mb-3 float-end">Add</button>

            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            @if (@TempData["Error"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show " role="alert">
                    <h5 class="text-danger">@TempData["Error"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="close"></button>

                </div>

            }
            <h5 class="card-title">Order Table</h5>

            <!-- Default Table -->

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">OrderId</th>
                        <th scope="col">OrderDate</th>
                        <th scope="col">CustomerID</th>
                        <th scope="col">PaymentMode</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Shipping Address</th>
                        <th scope="col">UserId</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (DataRow order in Model.Rows)
                    {
                        <tr>
                            <th scope="row">@order["OrderId"]</th>
                            
                            <td>@order["OrderDate"]</td>
                            <td>@order["CustomerId"]</td>
                            <td>@order["PaymentMode"]</td>
                            <td>@order["TotalAmount"]</td>
                            <td>@order["ShippingAddress"]</td>
                            <td>@order["UserName"]</td>
                            <td><button class="btn btn-warning me-3"><i class="bi bi-pencil-square"></i></button>
                                <form asp-asp-controller="Order" asp-action="DeleteOrder" method="post">
                                    <input type="hidden" name="UserID" value="@Convert.ToInt32(order["UserID"])" />
                                    <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i></button>

                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- End Default Table Example -->
        </div>
    </div>
</main>